---
layout: default
title: 'Platform Sprint for Volkswagen Group | Consulting by code & co.'
body_class: ''
---

<section class="page-hero full-height d-flex justify-content-center bg-light">
	<div class="container wide-lg d-flex flex-column w-100 justify-content-center align-items-center">
		<div class="row align-items-center w-100">
			<div class="col col-12 col-sm-6 order-1">
				<div class="page-hero-body">
					<h1>Case Study: Volkswagen Group</h1>
					<span class="subtitle">Platform Sprint</span>
					<p>We were hired as a task force for an extended mission-critical situation: To conceptualize and build an app for an invite-only event, the IAA Preview Night – 4 weeks prior to the event.</p>
					<p>Working closely with the Volkswagen Group communications and events teams, we established a true startup culture making such a bold project possible.</p>
					<div class="btn-wrap">
						<a class="link smooth-anchor" href="#smooth-anchor" role="button">
							<span>Learn more</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col col-12 col-sm-5 offset-sm-1 order-sm-2 mb-4 mb-sm-0">
				<!-- picturefill: full manual control -->
				<picture>
					<source srcset="{{ site.url }}/images/case-article/newsroom-app-volkswagen-2.png, {{ site.url }}/images/case-article/newsroom-app-volkswagen-2@2x.png 2x">
					<img src="{{ site.url }}/images/case-article/newsroom-app-volkswagen-2.png" alt="iPhone">
				</picture>
			</div>
		</div>
	</div>
</section>
<section id="smooth-anchor" class="building-section bg-light">
	<div class="container wide-lg">
		<header>
			<h2 class="text-center mb-0">Building a Global Mobile Newsroom in 4 Weeks</h2>
		</header>
		<div class="row align-items-center mb-5">
			<div class="col col-12 col-sm-6">
				<!-- picturefill: full manual control -->
				<picture>
					<source srcset="{{ site.url }}/images/case-article/newsroom-app-volkswagen.png, {{ site.url }}/images/case-article/newsroom-app-volkswagen@2x.png 2x">
					<img src="{{ site.url }}/images/case-article/newsroom-app-volkswagen.png" alt="iPhone Silver">
				</picture>
			</div>
			<div class="col col-12 col-sm-6 col-md-5 offset-md-1">
				<h2 class="mb-4">100% Platform Agnostic Architecture</h2>
				<p>Newsroom platform’s 100% API-first headless architecture leads to increased performance, security and sustainable flexibility, now and in the future – for expansion to other platforms such as web and upcoming technology experiences e.g. voice-activated interfaces (e.g. Amazon Alexa), wearables and even connected cars.</p>
				<!-- {% include blocks/list.html block_content=site.data.content.key_challenges_list add_class="circle-list list-unstyled mb-0"%} -->
			</div>
		</div>
		<div class="clearfix d-block d-md-flex row align-items-center pt-1">
			<div class="col d-md-block col col-12 col-sm-6 float-right float-md-none order-md-2 mb-4">
				<!-- picturefill: full manual control -->
				<picture class="stick-right">
					<source srcset="{{ site.url }}/images/case-article/newsroom-app-volkswagen-web.png, {{ site.url }}/images/case-article/newsroom-app-volkswagen-web@2x.png 2x">
					<img src="{{ site.url }}/images/case-article/newsroom-app-volkswagen-web.png" alt="Laptop">
				</picture>
			</div>
			<div class="col col-12 col-md-6">
				<h2 class="mb-4">Agile, User–driven Iterations</h2>
				<p class="mb-4">Working closely with key Volkswagen Group stakeholders, we conceptualized the application prioritizing key user and strategic features for the (almost) impossible deadline.</p>
				<p>Based on positive user feedback, the app’s scope was broadened to become the mobile newsroom of Volkswagen Group. The platform now serves journalists worldwide for everything related to Volkswagen Group and its brands and enables Volkswagen Group to foster synergies across brands and markets.</p>
				<!-- {% include blocks/list.html block_content=site.data.content.feature_scope_list add_class="circle-list list-unstyled mb-0"%} -->
			</div>
		</div>
	</div>
</section>
<div class="csvg-bottom bg-light">
	<div class="container">
		{% include blocks/get-in-touch.html block_content=site.data.content.get_in_touch_csvg add_class="text-center" %}
	</div>
</div>
