---
layout: default
title: 'Team – Technologists & Problem Solvers'
description: ''
keywords: ''
body_class: 'team-page'
---

<section class="page-hero d-flex bg-light">
    <div class="container d-flex flex-column w-100 justify-content-center align-items-center">
        <div class="inner text-center">
            <h1>Who We Are</h1>
            <p>We consider ourselves problem solvers first and foremost. We are passionate technologists and learners
                who believe a strong team shares common goals and values.</p>
            <div class="btn-wrap">
                <a class="btn btn-link smooth-anchor" href="#smooth-anchor" role="button">
                    <span>MEET THE TEAM</span>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="team-block bg-light">
    <div class="container wide-md">
        <div class="team-cards">
            <!-- Team Card -->
            {% include cards/team-card.html block_content = site.data.cards.team-card_team add_class=""
            add_id="smooth-anchor" %}
            <!--<div class="row">-->
                <!--<div class="d-flex col col-12 col-sm-6">-->
                    <!--<div class="team-card w-100">-->
                        <!--<figure>-->
                            <!--<div class="image-wrap">-->
                                <!--&lt;!&ndash; retina cover structure &ndash;&gt;-->
                                <!--<div class="bg-stretch">-->
                                    <!--<span data-srcset="{{ site.url }}/images/team/you.png, {{ site.url }}/images/team/you@2x.png 2x"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<figcaption>-->
                                <!--<h3>You?</h3>-->
                                <!--<a class="grdt-link smooth-anchor subtitle" href="#join-us">JOIN US</a>-->
                            <!--</figcaption>-->
                        <!--</figure>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="works-block bg-light">
    <div class="container wide-md">
        <!-- Brands Block -->
        {% include blocks/brands.html block_content = site.data.brands.alumni add_class="" %}
        <div class="text-block text-center ml-auto mr-auto">
            <h2 class="mb-4">How We Work</h2>
            <p>We are a close-knit team of colleagues and friends working on products we love. We believe great teams
                develop trust and confidence in each other through strong personal relationships. </p>
        </div>
        <div class="img-block row">
            <div class="col col-12 col-md-7 mb-3 mb-md-0">
                <!-- picturefill: full manual control -->
                <picture>
                    <source srcset="{{ site.url }}/images/honda-talk.jpg, {{ site.url }}/images/honda-talk@2x.jpg 2x">
                    <img class="img-shadow" src="{{ site.url }}/images/team1.jpg" alt="Dan Bender of code & co. (www.codeandco.com) presentating at Honda Innovation Summit">
                </picture>
            </div>
            <div class="col col-12 col-md-5">
                <!-- picturefill: full manual control -->
                <picture>
                    <source srcset="{{ site.url }}/images/nick-talk.jpg, {{ site.url }}/images/nick-talk@2x.jpg 2x">
                    <img class="img-shadow" src="{{ site.url }}/images/nickTalk.jpg" alt="Nick Morgan Jones of code & co. (www.codeandco.com) presentating at UX & UI meet-up">
                </picture>
            </div>
        </div>
        <div class="text-block text-center ml-auto mr-auto">
            <h2 class="mb-3">What We Value</h2>
            <p>Our team is founded on common goals and values, and we strive to reflect these in our daily work.</p>
        </div>
        <ol class="order-list list-unstyled mb-0 row">
            <li class="col col-12 col-sm-6 col-md-4">
                <div>
                    <span class="subtitle"><span class="count"></span>Lifelong learning &amp; Mentoring</span>
                    <p>Learning from and mentoring each other ensures we continuously grow stronger as individuals as
                        well as a team.</p>
                </div>
            </li>
            <li class="col col-12 col-sm-6 col-md-4">
                <div>
                    <span class="subtitle"><span class="count"></span>Craftsmanship</span>
                    <p>Having true passion for our craft sets a standard to aim for as a team. We see the beauty in true
                        craftsmanship.</p>
                </div>
            </li>
            <li class="col col-12 col-sm-6 col-md-4">
                <div>
                    <span class="subtitle"><span class="count"></span>Honest Communication</span>
                    <p>Productive partnerships are built on strong communication, where empathy and honesty is key.</p>
                </div>
            </li>
            <li class="col col-12 col-sm-6 col-md-4">
                <div>
                    <span class="subtitle"><span class="count"></span>New technologies</span>
                    <p>We don't have a go-to stack and are always on the hunt for new technologies to add to our utility
                        belt.</p>
                </div>
            </li>
            <li class="col col-12 col-sm-6 col-md-4">
                <div>
                    <span class="subtitle"><span class="count"></span>Zero HIERARCHY</span>
                    <p>Confidence without attitude. Everyone in our team is a multidisciplinary problem solver who
                        deserves to be heard.</p>
                </div>
            </li>
            <li class="col col-12 col-sm-6 col-md-4">
                <div>
                    <span class="subtitle"><span class="count"></span>Humility &amp; Curiosity</span>
                    <p>Every day we seek to challenge ourselves to continually improve as a collective and as
                        individuals.</p>
                </div>
            </li>
        </ol>
        <ul class="team-img-list list-unstyled mb-0">
            <li>
                <!-- picturefill: full manual control -->
                <picture>
                    <source srcset="{{ site.url }}/images/team2.jpg, {{ site.url }}/images/team2@2x.jpg 2x">
                    <img class="img-shadow" src="{{ site.url }}/images/team2.jpg" alt="code & co. (www.codeandco.com) has offices in vibrant Berlin, right at Rosenthaler Platz and close to Alexanderplatz">
                </picture>
                <!-- picturefill: full manual control -->
                <picture>
                    <source srcset="{{ site.url }}/images/benTalk.jpg, {{ site.url }}/images/benTalk@2x.jpg 2x">
                    <img class="img-shadow" src="{{ site.url }}/images/benTalk.jpg" alt="code & co. (www.codeandco.com) has offices in vibrant Berlin, right at Rosenthaler Platz and close to Alexanderplatz">
                </picture>
            </li>
            <li>
                <!-- picturefill: full manual control -->
                <picture>
                    <source srcset="{{ site.url }}/images/tvTower.jpg, {{ site.url }}/images/tvTower@2x.jpg 2x">
                    <img class="img-shadow" src="{{ site.url }}/images/tvTower.jpg" alt="code & co. (www.codeandco.com) has offices in vibrant Berlin, right at Rosenthaler Platz and close to Alexanderplatz">
                </picture>
            </li>
        </ul>
    </div>
</div>
<div class="join-team bg-light pt-5 pb-5">
    <div class="container wide-md">
        <!-- Joing Section -->
        {% include blocks/get-in-touch.html block_content=site.data.content.join_us_team add_class="text-center" %}
    </div>
</div>
<section class="benefits-section bg-light">
    <div class="container wide-md">
        <header class="section-header ml-auto mr-auto text-center">
            <h2>Perks &amp; Benefits</h2>
            <p>What you can expect from working at code &amp; co.</p>
        </header>
        <ul class="benefits-card-list list-unstyled mb-0 row">
            {% for card in site.data.cards.benefits_card %}
            <li class="d-flex col col-12 col-sm-6 col-lg-4">
                <div class="benefits-card">
                    <div class="image">
                    <span class="perks-benefits-number">{{ forloop.index }}</span>
                        <!-- retina cover structure -->
                        <div class="bg-stretch">
                            {% for img in card.image %}
                            <span data-srcset="{{ site.url }}/images/{{ img.img }}, {{ site.url }}/images/{{ img.img_2x }} 2x"></span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="title">
                        <h3 class="subtitle mb-0">{{ card.heading }}</h3>
                    </div>
                    <div class="overlay d-flex align-items-center">
                        <p>{{ card.text | truncate: 195 }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<div id="join-us" class="team-bottom bg-light pt-5 pb-5">
    <div class="container wide-md text-center">

        <section class="get-in-touch-section ml-auto mr-auto {{ include.add_class }}">
            <h2 class="mb-2 mb-md-4">Open Positions</h2>
            <p>We're hiring. Come and join code & co.</p>

            <ul class="benefits-card-list list-unstyled mb-0 row">
                {% for card in site.data.cards.job_positions_card %}
                <li class="d-flex col col-12 col-sm-12">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="title">
                                <h2>{{ card.heading }}</h2>
                            </div>
                            <div class="btn-wrap pt-2">
                                <a class="btn btn-primary" role="button" href="{{ card.link }}" target="_blank"
                                   rel="noopener noreferrer"><span>Apply</span></a>
                            </div>
                        </div>

                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>

    </div>
</div>
