<ul {% if include.add_id !="" %}id="{{ include.add_id }}"{% endif %} class="team-card-list list-unstyled mb-0 {{ include.add_class }} row">
	{% for card in include.block_content %}
	<li class="d-flex col col-12 col-sm-6">
		<div class="team-card w-100">
			<figure>
				<div class="image-wrap">
					{% for img in card.image %}
						{% if img.image_stub == false %}
						<!-- retina cover structure -->
						<div class="bg-stretch">
							<span data-srcset="{{ site.url }}/images/{{ img.img }}, {{ site.url }}/images/{{ img.img_2x }} 2x"></span>
						</div>
						{% else %}
						<!-- retina cover structure -->
						<div class="bg-stretch">
							<span data-srcset="{{ site.url }}/images/team/you.png, {{ site.url }}/images/team/you@2x.png 2x"></span>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<figcaption>
					<h3>{{ card.name }}</h3>
					<span class="subtitle">{{ card.position }}</span>
				</figcaption>
			</figure>
			{% if page.url != '/labs/' %}}
				<div class="overlay">
					<p>{{ card.about-text }}</p>
					<span class="d-block mb-2">INTERESTS</span>
					<ul class="interests-list circle-list list-unstyled mb-0">
						{% for interests in card.interests %}
							<li>{{ interests }}</li>
						{% endfor %}
					</ul>
					<!-- Social Networks -->
					<ul class="social-networks list-unstyled d-flex align-items-center justify-content-end mb-0">
						{% for social in card.social_networks %}
						<li>
							<a href="{{ social.link }}" target="_blank"><i class="icon-{{ social.icon }}"></i></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
	</li>
	{% endfor %}
</ul>