<!-- footer of the page -->
<footer id="footer">
    <div class="container">
        <div class="row justify-content-center justify-content-sm-between">
            <div class="col col-12 col-sm-4 mb-2 mb-sm-0 d-none d-sm-block">
                <!-- copyright block -->
                <div class="copyright text-left">
                    <span>&copy; code &amp; co. {{ 'now' | date: "%Y" }}</span>
                </div>
            </div>
            <div class="col col-12 col-sm-4">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <a class="text-uppercase mr-5" href="{{ site.url }}/team/#join-us">Careers</a>
                    <a class="text-uppercase" href="{{ site.url }}/impressum">Imprint</a>

                    <!-- switch language links -->
                    <!-- <ul class="languages list-unstyled mb-0 d-flex">
                        <li class="active">
                            <a href="#">EN</a>
                        </li>
                        <li>
                            <a href="#">DE</a>
                        </li>
                    </ul> -->
                    </div>
                </div>
            </div>
        <div class="col col-12 col-sm-4 mt-4 mb-2 mb-sm-0 d-block d-sm-none">
            <!-- copyright block -->
            <div class="copyright text-center">
                <span>&copy; code &amp; co. {{ 'now' | date: "%Y" }}</span>
            </div>
        </div>
        </div>
    </div>
</footer>
