---
layout: default
title: 'Digital Value Drivers by code&co.'
body_class: 'digital-value-page'
---

<section class="page-hero d-flex bg-light">
	<div class="container d-flex flex-column w-100 justify-content-center align-items-center">
		<div class="inner text-center">
			<h1>Digital Value Drivers</h1>
			<p>We help uncover and shape digital value drivers that enable services to fully leverage technology and thrive in a digitized world.</p>
			<div class="btn-wrap">
				<a class="btn btn-link smooth-anchor" href="#smooth-anchor" role="button">
					<span>Learn more</span>
				</a>
			</div>
		</div>
	</div>
</section>
<section id="smooth-anchor" class="digital-framework-section bg-light">
	<div class="container">
		<header class="section-header text-center ml-auto mr-auto">
			<h2>Our Framework</h2>
			<p>Digitization creates a paradigm shift for most established products and services and we believe there is often a gold mine of untapped potential.</p>
			<p>As software engineers, UX architects and entrepreneurs, where many see the struggles of digitization, we see opportunity.</p>
		</header>
		<ol class="digital-card-list list-unstyled d-flex flex-wrap flex-md-nowrap ml-auto mr-auto mb-0">
			<li>
				<div class="digital-card d-flex flex-column justify-content-center">
					<h3 class="subtitle"><span class="count"></span>Uncover</h3>
					<span class="text">Review &amp; Analysis</span>
				</div>
			</li>
			<li>
				<div class="digital-card d-flex flex-column justify-content-center">
					<h3 class="subtitle"><span class="count"></span>Shape</h3>
					<span class="text">Ideation &amp; Prototyping</span>
				</div>
			</li>
			<li>
				<div class="digital-card d-flex flex-column justify-content-center">
					<h3 class="subtitle"><span class="count"></span>Advise</h3>
					<span class="text">Feasible Roadmap</span>
				</div>
			</li>
		</ol>
		<div class="text-block text-center mr-auto ml-auto">
			<p>We help you uncover digital value drivers, ideate and shape solutions, and work with you to develop a feasible roadmap that will guide you to thrive in a digitized world.</p>
		</div>
		<!-- Brands Block -->
		{% include blocks/brands.html block_content=site.data.brands.our_clients_digital_value add_class="ml-auto mr-auto" list_class="justify-content-center" %}
	</div>
</section>
<div class="digital-case-block bg-light">
	<div class="container">
		<!-- Case Article It Works -->
		{% include blocks/case-article.html block_content = site.data.case-article.case_itworks add_class="" %}
	</div>
</div>
<div class="digital-bottom bg-light">
	<div class="container">
		<!-- Get In Touch Block -->
		{% include blocks/get-in-touch.html block_content = site.data.content.get_in_touch_home add_class="text-center" %}
	</div>
</div>
