/* ---------------------------------------------------------
   7. Footer site styles
---------------------------------------------------------*/

#footer{
	font-size: 14px;
	letter-spacing: 0.082em;
	padding: 24px 0;
	@include media ('>=tablet') {
		padding: 32px 0;
	}
	.container{
		max-width: 1351px;
	}
	.imprint-block{
		margin: 0 0 0 30px;
		@include media ('>=desktop') {
			margin: 0 0 0 68px;
		}
	}
	a{
		&:hover{
			color: theme-color("primary");
			@include gradient-text('linear-gradient(to left, #71b6fa 0%, #a688f7 100%)', 'light');
		}
	}
}

.copyright{
	letter-spacing: 0.055em;
}

.imprint-block{
	a{
		color: $black;
	}
}