<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="{{ page.body_class }}">
	<a class="accessibility" href="#main">Skip to Content</a>
	<noscript><div>Javascript must be enabled for the correct page display</div></noscript>
	<!-- main container of all the page elements -->
	<div id="wrapper" class="d-flex">
		<div class="w1 d-flex flex-column w-100">
			{% include header.html %}
			<!-- contain main informative part of the site -->
			<main id="main">
				{{ content }}
			</main>
			{% include footer.html %}
		</div>
	</div>
	<a class="accessibility" href="#wrapper">Back to top</a>
</body>
</html>